{% extends "parkwoods_app/base.html" %}

{% block page_header %}
{% load static %}
<div class="pb-2 mb-2 border-bottom">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm" align="center">
          <img class="img-fluid" src="{% static "parkwoods_app/aboutme.jpg" %}" alt="aboutme">
        </div>
      </div>
      <div class="col-md-8">
        <h1 class="display-4" align="center"><b>About Jesse Li</b></h1>
        <p>
          I am a first-year student studying computer science at the <a href="https://uwaterloo.ca/" target="_blank">  University of Waterloo
            </a>  (1B term) in Waterloo, Ontario, Canada. 
        </p>

        <p>
          I have always had a strong passion for hockey. I played at the <a href="http://www.parkwoodshockey.com/" target="_blank">Parkwoods Hockey League</a> for eleven years, and
          I was a part of their select team for eight years. Other hobbies of mine include making and editing videos, travelling, and listening to music.
        </p>

        <p>
          I created this website using the Python programming language, HTML and the Django web framework to showcase my hockey experience. 
		      Here, you will be able to see our team's short video clips, standings/schedules and various trophy winnings. If you are registered,
          you can also create a topic and share your thoughts with others.
        </p>
        <p>
          I am currently seeking an internship for the spring 2021 term. 
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock page_header %}