{% extends "parkwoods_app/base.html" %}

{% block page_header %}
{% load static %}
<div class="pb-2 mb-2 border-bottom">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm" align="center">
          <img class="img-fluid" src="{% static "parkwoods_app/aboutme.jpg" %}" alt="aboutme">
        </div>
      </div>
      <div class="col-md-8">
        <h1 class="display-4" align="center"><b>About Jesse Li</b></h1>
        <p>
          I am a first-year student studying computer science at the <a href="https://uwaterloo.ca/" target="_blank">  University of Waterloo
            </a> in Waterloo, Ontario, Canada. I have always had a strong passion for hockey. I played at the <a href="http://www.parkwoodshockey.com/" target="_blank">Parkwoods Hockey League</a> for eleven years, and
          I was a part of their select team for eight years.
        </p>
        <p>
          In high school (York Mills Collegiate Institute), I was the head of Tech Crew club. My role as head was to supervise the audiovisual aspects of school performances, 
          train members to utilize various equipments, assign duties and delegate roles, and communicate with other parties to ensure a smooth and
          enjoyable production.
        </p>
        <p>
          Outside of school, my interest in mathematics inspired me to become a teaching assistant at <a
            href="https://www.spiritofmath.com/" target="_blank"> Spirit of Math Schools</a>, where I assisted younger students with their math work while promoting a positive and encouraging learning
          environment.
        </p>
        <p>
          Giving back to the community is something I believe everybody should partake in. I thought it would be a
          great idea to share the hockey stories and skills I have gathered along the way by becoming a house league hockey coach. This opportunity allowed me to 
          give the players the best experience on and off the ice, just like how other coaches and players did for me.
        </p>
        <p>
          I created this website using the Python programming language and the Django web framework to showcase my hockey experience. 
		      Here, you will be able to see our team's short video clips, standings/schedules and various trophy winnings. If you are registered,
          you can also create a topic and share your thoughts with others.
        </p>
        <p>
          So far, studying at university during quarantine has been a unique experience to all of us. I am hopeful and optomistic as to how life will be in 2021.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock page_header %}