{% extends "parkwoods_app/base.html" %}


{% block page_header %}
<section class="jumbotron text-center">
  <div class="container">
    <h1> Medals and Trophies </h1>
    <p>
      <a href="https://1drv.ms/u/s!AilqDLjqHaNaqwQBdhSH1VAua8uX?e=vFqPu8" class="btn btn-primary my-2" target="_blank">More photos &raquo;</a>
    </p>
  </div>
</section>
{% endblock page_header %}

{% block content %}
{% load static %}
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <a href="https://1drv.ms/u/s!AilqDLjqHaNaqwtCMed6bc6sFGXQ" target="_blank" ><img class="img-fluid" src="{% static "parkwoods_app/JesseTrophy-1.jpg" %}" alt="JesseTrophy-1"></a>
          <div class="card-body">
            <p class="card-text">NYHL All Stars 2013 ~ 2015</p>
          </div>
        </div>
      </div>      
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <a href="https://1drv.ms/u/s!AilqDLjqHaNaqwo0V0otFVrlpVb2" target="_blank" ><img class="img-fluid" src="{% static "parkwoods_app/JesseTrophy-13.jpg" %}" alt="JesseTrophy-13"></a>
          <div class="card-body">
            <p class="card-text">Wayne Gretzky's Signature</p>

          </div>
        </div>
      </div>
	  <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <a href="https://1drv.ms/u/s!AilqDLjqHaNaqwxpRphTPle5_UZs" target="_blank" ><img class="img-fluid" src="{% static "parkwoods_app/JesseTrophy-2.jpg" %}" alt="JesseTrophy-2"></a>
          <div class="card-body">
            <p class="card-text">Ajax Tournament Champions, MVP 2014</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <a href="https://1drv.ms/u/s!AilqDLjqHaNaqwiMfO8UaINC8WDI" target="_blank" ><img class="img-fluid" src="{% static "parkwoods_app/JesseTrophy-11.jpg" %}" alt="JesseTrophy-11"></a>
          <div class="card-body">
            <p class="card-text">Various Tournaments, Skills Competition</p>

          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <a href="https://1drv.ms/u/s!AilqDLjqHaNaqwaxqHzTbsl0JYoK" target="_blank" ><img class="img-fluid" src="{% static "parkwoods_app/JesseTrophy-8.jpg" %}" alt="JesseTrophy-8"></a>
          <div class="card-body">
            <p class="card-text">Shamrock Tournament, 2013 ~ 2019</p>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <a href="https://1drv.ms/u/s!AilqDLjqHaNaqwX2A-ImqX6c9dNz" target="_blank" ><img class="img-fluid" src="{% static "parkwoods_app/JesseTrophy-9.jpg" %}" alt="JesseTrophy-9"></a>
          <div class="card-body">
            <p class="card-text">Bradford Tournament, 2013 ~ 2017</p>

          </div>
        </div>
      </div>
	  <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <a href="https://1drv.ms/u/s!AilqDLjqHaNaqw2O0WxULCDg5dua" target="_blank" ><img class="img-fluid" src="{% static "parkwoods_app/JesseTrophy-3.jpg" %}" alt="JesseTrophy-3"></a>
          <div class="card-body">
            <p class="card-text">Trophies from Parkwoods Hockey League</p>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <a href="https://1drv.ms/u/s!AilqDLjqHaNaqw4aPymf__wWPld7" target="_blank" ><img class="img-fluid" src="{% static "parkwoods_app/JesseTrophy-4.jpg" %}" alt="JesseTrophy-4"></a>
          <div class="card-body">
            <p class="card-text">North Toronto Tournament </p>

          </div>
        </div>
      </div>
	  <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <a href="https://1drv.ms/u/s!AilqDLjqHaNaqwkDpsgwI96ZtpWE" target="_blank" ><img class="img-fluid" src="{% static "parkwoods_app/JesseTrophy-12.jpg" %}" alt="JesseTrophy-12"></a>
          <div class="card-body">
            <p class="card-text">Other Tournament Winnings </p>

          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>


{% endblock content %}