{% extends "parkwoods_app/base.html" %}


{% block page_header %}
<section class="jumbotron text-center">
  <div class="container">
    <h1> Parkwoods Senior Midget Stars Roster </h1>

  </div>
</section>
{% endblock page_header %}

{% block content %}
{% load static %}
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="img-fluid" src="{% static "parkwoods_app/Martin.jpg" %}" alt="Martin">
          <div class="card-body">
            <p class="card-text">Martin Alexiev | #37 | RW</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="img-fluid" src="{% static "parkwoods_app/Nicky.jpg" %}" alt="Nicky">
          <div class="card-body">
            <p class="card-text">Nicky Anthony| #87 | D</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="img-fluid" src="{% static "parkwoods_app/aidan.jpg" %}" alt="Aidan">
          <div class="card-body">
            <p class="card-text">Aidan Cooke | #48 | RW</p>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">

          <img class="img-fluid" src="{% static "parkwoods_app/Ben.jpg" %}" alt="Ben">
          <div class="card-body">
            <p class="card-text"> Ben Cooke | #7 | C</p>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="img-fluid" src="{% static "parkwoods_app/JesseD.jpg" %}" alt="JesseD">
          <div class="card-body">
            <p class="card-text">Jesse Delson | #9 | D</p>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="img-fluid" src="{% static "parkwoods_app/Eric.jpg" %}" alt="Eric">
          <div class="card-body">
            <p class="card-text">Eric Dong | #18 | D </p>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="img-fluid" src="{% static "parkwoods_app/Jacob.jpg" %}" alt="Jacob">
          <div class="card-body">
            <p class="card-text">Jacob Dajka | #31 | G</p>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="img-fluid" src="{% static "parkwoods_app/Tony.jpg" %}" alt="Tony">
          <div class="card-body">
            <p class="card-text">Tony Eliadis | #61 | D</p>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="img-fluid" src="{% static "parkwoods_app/Lam.jpg" %}" alt="Lam">
          <div class="card-body">
            <p class="card-text"> Nicholas Lam | #93 | RW </p>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="img-fluid" src="{% static "parkwoods_app/Chris.jpg" %}" alt="Chris">
          <div class="card-body">
            <p class="card-text">Christopher Li | #23 | RW</p>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="img-fluid" src="{% static "parkwoods_app/JesseL.jpg" %}" alt="Jesse Li">
          <div class="card-body">
            <p class="card-text">Jesse Li | #27 | LW</p>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="img-fluid" src="{% static "parkwoods_app/Lin.jpg" %}" alt="Lin">
          <div class="card-body">
            <p class="card-text">Nicholas Lin | #72 | LW</p>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="img-fluid" src="{% static "parkwoods_app/Alex.jpg" %}" alt="Alex">
          <div class="card-body">
            <p class="card-text">Alex Magrath | #4 | D </p>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="img-fluid" src="{% static "parkwoods_app/Josh.jpg" %}" alt="Josh">
          <div class="card-body">
            <p class="card-text">Joshua Magrath | #30 | G</p>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="img-fluid" src="{% static "parkwoods_app/Steven.jpg" %}" alt="Steven">
          <div class="card-body">
            <p class="card-text">Steven Yeretsian | #28 | C</p>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>


{% endblock content %}